<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="defaultSuite" junit="false" parallel="methods">

    <test name="ExampleTest">
        <classes>
            <class name="pl.edu.pw.elka.pik.AppTests"/>
        </classes>
    </test>

</suite>

